@import 'base/varibles';

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'MuseoSansCyrl', sans-serif;
}

	
.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@media (max-width: 950px) {
	.container {
		padding: 0 40px;
	}
}



@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carusel';
@import 'blocks/catalog';




	
	
