.advantages {
    min-height: 470px;
    padding: 70px 0 77px 0;
    background-color: #f6f6f6;
    &__icons {
        max-width: 950px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
           
    &__block {
        display: block;
        width: 230px;
        min-height: 240px;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        color: #0d0d0d;
        margin-top: 64px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 26px;
        }
        .love {
            display: inline;
            color: #ff0000;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
            text-decoration: underline;
    
        }
    }
}


@media (max-width: 950px) {
    .advantages {
        &__icons {
            padding: 0 40px;

        }
    }
}
@media (max-width: 768px) {
    .advantages {
        padding-top: 35px;
        padding-bottom: 35px;
        min-height: 400px;
        &__block {
            margin-top: 40px;
            width: 200px;
            font-size: 13px;
            span {
                font-size: 16px;
                margin-bottom: 16px;
            }
        }
    }

}

@media (max-width: 700px) {
    .advantages {
        &__icons {
            flex-direction: column;
        }
        &__block {
            margin: 35px auto 0 auto;
            min-height: 200px;
            img {
                margin-bottom: 15px;
                }
        }
    }
}


