.promo {
    min-height: 650px;
	padding: 21px 0 93px 0;
	background: url(../../img/BG/bg_main.jpg) center (center/cover) no-repeat;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}
	&__header {
		font-size: 42px;
		font-weight: 700;
		line-height: 42px;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__subheader {
		margin-top: 17px;
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
	}
	&__icons {
		margin-top: 65px;
		width: 425px;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 106px;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: #ffffff;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
			
	}

	&__link {
		margin-top: 17px;
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		a {
			text-decoration: underline;
			color: #ffffff;
			text-transform: uppercase;
		}
	}

}


@media (max-width: 768px) {
	.promo {
		padding-bottom: 50px;
		min-height: 600px;
		
		&__wrapper {
			margin-top: 70px;
		}
		&__header {
			font-size: 35px;
		}
		&__subheader {
			font-size: 15px;
		}
		&__icons {
			margin-top: 40px;
			width: 370px;
		}

	}	
}

@media (max-width: 700px) {
	.promo {

		&__header {
			line-height: 10px;
		}
	}
}

@media (max-width: 578px) {
	.promo {
		&__wrapper {
			align-items: center;
		}
		&__header {
			font-size: 30px;
		}
	}		
}

@media (max-width: 446px) {
	.promo {
		min-height: 515px;
		&__wrapper {
			margin-top: 45px;
		}

		&__header {
			font-size: 25px;
		}
		&__subheader {
			line-height: 12px;
		}

	}
}

@media (max-width: 400px) {
	.promo {
		min-height: 515px;

		&__header {
			font-size: 30px;
			text-align: center;
			line-height: normal;
		}
		&__subheader {
			display: none;		
		}
		&__icons {
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-bottom: 20px;
		}

	}
}

